<section>
    <body class="catching">
        <br></br>
        <div id="canvas">
            <canvas id="c" style="border:5px solid orange" height="800" width="800"></canvas>
            <p id="p1"></p>
        </div>
    </body>
</section>
