<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTML5 Catcher</title>
  <meta type="description" content="HTML5 catcher is a simple game to catch falling elements. You can use the keyboard, move the mouse or tilt your phone or tablet to move left and right">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://thewebrocks.com/demos/html5catcher/css/playingfield.css" type="text/css">
  <link rel="stylesheet" href="http://thewebrocks.com/demos/html5catcher/css/textstyles.css" type="text/css">

</head>
<body>
  <header><h1></h1></header>
  <div id="container">

  <section id="intro">
      <h1><span>HTML5 </span>Catcher</h1>
      <p>A quick game catching all the HTML5 goodies.</p>
      <ul>
        <li>Last score: <output></output></li>
        <li>High score: <output></output></li>
        <li><button id="instructionbutton">Instructions</button></li>
        <li><button id="playbutton">Play</button></li>
      </ul>
  </section>

  <section id="instructions">
    <ul id="characters" data-countstart="2" data-newsprite="500">
      <li class="introdeck">
        <h2>You are HTML5:</h2>
        <img src="http://thewebrocks.com/demos/html5catcher/img/shield.png" width="72" height="100" id="player"
             data-increase="5">
        <p>Your job is to catch as many of your components as you can.</p>
        <p>You can use the cursor keys or move the mouse on the playfield <span id="orientation">- or simply tilt your mobile or tablet</span>.</p>
        <p>Failing to catch your components or catching wrong ones costs energy. The game is over when you are out of energy.</p>
        <p><button class="next">More</button></p>
      </li>

      <li class="introdeck">
        <h2>The great components</h2>
        <p>Each are worth 20 energy points that you can win or lose.</p>
        <ul>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/video.png" class="sprite" alt="Video"
                   data-collision="energy:20" data-type="good"></li>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/audio.png" class="sprite" alt="Audio"
                   data-collision="energy:20" data-type="good"></li>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/canvas.png" class="sprite" alt="Canvas"
                   data-collision="energy:20" data-type="good"></li>
        </ul>
        <h2>The good components</h2>
        <p>Each are worth 10 energy points that you can win or lose.</p>
        <ul>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/video.png" class="sprite"
                   alt="Semantic Markup" data-collision="energy:10"
                   data-type="good"></li>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/video.png" class="sprite" alt="History"
                   data-collision="energy:10" data-type="good"></li>
        </ul>
        <p><button class="next">More</button></p>
      </li>

      <li class="introdeck">
        <h2>The lesser known components</h2>
        <p>These are also your components. Each are worth 5 energy points that you can win or lose.</p>
        <ul>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/video.png" class="sprite"
                   alt="Drag and Drop" data-collision="energy:5"
                   data-type="good"></li>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/video.png" class="sprite" alt="Menus"
                   data-collision="energy:5" data-type="good"></li>
        </ul>
        <h2>Not your components</h2>
        <p>These are really not what you are. Catching each will cost you 20 energy points.</p>
        <ul>
          <li><img src="img/flash.png" class="sprite" alt="Flash"
                   data-collision="energy:-20" data-type="bad"></li>
          <li><img src="img/jquery.png" class="sprite" alt="jQuery"
                  data-collision="energy:-20" data-type="bad"></li>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/video.png" class="sprite" alt="CSS"
                  data-collision="energy:-20" data-type="bad"></li>
        </ul>
        <p><button class="next">More</button></p>
      </li>

      <li class="introdeck">
        <h2>Related, but not you</h2>
        <p>These are not yours either. Catching each will cost you 10 energy points.</p>
        <ul>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/video.png" class="sprite" alt="WebGL"
                   data-collision="energy:-10" data-type="bad"></li>
          <li><img src="img/mediaqueries.png" class="sprite"
                   alt="Media queries" data-collision="energy:-10"
                   data-type="bad"></li>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/video.png" class="sprite" alt="File API"
                   data-collision="energy:-10" data-type="bad"></li>
          <li><img src="img/svg.png" class="sprite" alt="SVG"
                   data-collision="energy:-10" data-type="bad"></li>
          <li><img src="http://thewebrocks.com/demos/html5catcher/img/video.png" class="sprite"
                   alt="Geolocation" data-collision="energy:-10"
                   data-type="bad"></li>
        </ul>
        <p><button class="endinstructions">Back to menu</button></p>
      </li>

    </ul>
  </section>

  <section id="playfield">
    <div id="scoresinfo">
    <div id="energy">Energy <output>100</output></div>
    <div id="score">Score <output></output></div>
    </div>
    <canvas></canvas>
  </section>

  <section id="gameover">
    <header><h1>Game over!</h1></header>
    <p>Your score: <output></output></p>
    <p class="message" data-highscore="New highscore!"></p>
    <p><button id="replay">Play again</button></p>
  </section>

  <ul id="androidbrowsersucks">
    <li><button class="left">&nbsp;</button></li>
    <li><button class="right">&nbsp;</button></li>
  </ul>
</div>
<footer>
</footer>